.custom-btn-like:hover {
    color: #f92525;
    background-color: rgb(244, 185, 185);
}

.custom-btn-comment:hover {
    color: rgb(0, 119, 0);
    background-color: rgb(181, 213, 181);
}

.custom-btn-bookmark:hover {
    color: rgba(0, 137, 242, 0.597);
    background-color: rgba(159, 186, 207, 0.597);
}

.bi-heart-fill {
    color: #f92525;
}
