.custom-btn-like:hover {
    color: #f92525;
    background-color: rgb(244, 185, 185);
}

.custom-btn-comment:hover {
    color: rgb(0, 119, 0);
    background-color: rgb(181, 213, 181);
}

.custom-btn-bookmark:hover {
    color: rgba(0, 137, 242, 0.597);
    background-color: rgba(159, 186, 207, 0.597);
}

.bi-heart-fill {
    color: #f92525;
}

.card-footer .bi-bookmark-fill{
    color: rgba(0, 21, 255, 0.597);
}

.profile-pic-border {
    border: 4px solid #000000;
}

.sidebar .profile-pic {
    border: 1px solid #000000;
}

#side_nav{
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

@media(max-width: 767px){
#side_nav{
    margin-left: -250px;
    position: absolute;
    min-height: 100vh;
    z-index: 1;

}
#side_nav.active{
    margin-left: 0;
    }
}